body{
    background-color #f7f1f3;
}

/* Media Image Gallery and Album Covers  */

.image-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 100px;
}

.media-button {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    border: 1px solid black;
}

.album-covers {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
}

