body {
  background-color: #f7f1f3;
}

img {
  max-width: 1420px;
  height: auto;
  /* Wayne commented this out because it was mssing the value */
  /* margin-top: ; */
}

/* Beginning NavBar */
.hpNavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #f7f1f3;
  color: black;
  position: fixed;
  overflow: auto;
}

.hpNavbarLink {
  color: black;
  padding: 0px 0px 0px 15px;
  text-decoration: none;
}

.hpNavbarLink:visited {
  color: hotpink;
}

.hpNavbarLink:hover {
  color: indigo;
}
/* Ending NavBar */

/* Media Image Gallery and Album Covers  */

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 100px;
}

.media-button {
  background-color: hotpink;
  border: none;
  color: white;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border: 1px solid black;
}

.album-covers {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f1f3;
}

.albumOne {
    display: flex;
    justify-content: center;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 175px 0 135px;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}

/* End Media Image Gallery and Albums */

.bio {
}

.bio_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 20px;
  /* border: 1px solid black; */
}

.div-waybo {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  /* border: solid 3px black; */
}
.waybo {
  /* border: solid 3px black; */
  align-self: flex-end;
  transform: rotate(20deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -20;
  margin-right: 50px;
  padding-bottom: 0;
}
#Waybo {
  align-self: flex-end;
  transform: rotate(20deg);
  padding-left: -30px;
  z-index: 500;
}

a {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.bio-h1-para,
.bio-p-tag1,
.bio-p-tag2,
.bio-p-tag3,
.bio-p-tag4 {
  margin-left: 25px;
}

.bio-para-div {
  display: flex;
  flex-direction: column;
  margin-top: -400px;
}
.bio-h1-para {
  font-size: 70px;
}
.bio-p-tag1 {
  max-width: 800px;
  height: auto;
}
.bio-p-tag2 {
  max-width: 900px;
  height: auto;
}
.bio-p-tag3 {
  max-width: 1000px;
  height: auto;
}
.bio-p-tag4 {
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

#ts-body {
  background: url(../images/img_TOUR/Group2.jpg);
  background-size: cover;
}

#ts-container {
  display: flex;
  flex-direction: column;
  /* margin: 25px 10px 30px 15px; */
  margin-left: 30px;
  /* margin-bottom: 20%; */
  width: 63%;
  /* border: 2px solid goldenrod; */
}

.ts-show {
  display: flex;
  /* width: 65%; */
  /* border: 2px solid red; */
  border-bottom: 1px solid grey;
}

.ts-date-numbers {
  margin: 0px 20px;
}

.ts-date-numbers p {
  font-family: 'Marcellus', serif;
  font-size: 18px;
  /* margin: 8px; */
}

.ts-venue p {
  font-family: 'Marcellus', serif;
  font-size: 18px;
}
ul {
  margin-top: -15px;
}

li {
  list-style: none;
}
@media only screen and (max-width: 1357px) {
  .bio-para-div {
    margin-top: 10px;
  }
  .div-waybo {
  }
}

/* Beginning Footer */
.hpFooterDiv {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.hpFooterClass {
  display: flex;
  align-self: flex-end;
}

.hpFooterLink {
  padding: 0px 4px;
  text-decoration: none;
  color: black;
}

.hpFooterLink:visited {
  color: hotpink;
}

.hpFooterLink:hover {
  color: indigo;
}
/* Ending Footer */
